@inject NavigationManager navManager

<div class="row maps-header">
    <div class="col-12">
        <h1 @onclick="(() => LoadHomePage())">1SC Maps and Tools</h1>
        <div class="oi oi-external-link" />
    </div>
</div>
<div class="row maps-nav text-center">
    <div class="col" @onclick="(() => LoadCallFlowPage())">
        <span>Call Flow</span>
    </div>
    <div class="col" @onclick="(() => LoadFdcListPage())">
        <span>FDC List</span>
    </div>
    <div class="col" @onclick="(() => LoadTemplatePage())">
        <span>Templates</span>
    </div>
    <div class="col" @onclick="(() => LoadBackOfficePage())">
        <span>Back Office</span>
    </div>
    <div class="col" @onclick="(() => LoadKbArticlePage())">
        <span>1SC KB Articles</span>
    </div>
</div>

@code {
    private void LoadHomePage()
    {
        navManager.NavigateTo("/");
    }

    private void LoadCallFlowPage()
    {
        navManager.NavigateTo("/CallFlow");
    }

    private void LoadFdcListPage()
    {
        navManager.NavigateTo("/FdcList");
    }

    private void LoadTemplatePage()
    {
        navManager.NavigateTo("/EmailTemplate");
    }

    private void LoadBackOfficePage()
    {
        navManager.NavigateTo("/BackOffice");
    }

    private void LoadKbArticlePage()
    {
        navManager.NavigateTo("/KbArticle");
    }
}
